@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins&family=Unbounded&display=swap");

body {
    margin: 0;
    padding: 0;
}
.logo {
    font-family: 'Unbounded', cursive;
}
.footer-text{
    font-family: poppins;
}
.link-nav{
    font-family: poppins;
    transition: 0.9s;
}
.button{
    font-family: poppins;
}